<!DOCTYPE html>
<html>
<head>
	<title>4Wheelz | Buy | Sell | New Cars | Used Cars</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Nitin Sharma\Desktop\DBMS\public\stylesheets\home.css">
</head>
<body>
	<div id="topbar">
		<div id="homebutton">
			<a href="home.html"><img src="C:\Users\Nitin Sharma\Desktop\DBMS\public\images\logo.png"></a>
		</div>

		<div id="loginregis">
			<a href="login.html">Login | Register</a>
		</div>
	</div>

	<div id="navbar">
		<div id="cartype">
			<div id="newcar">
				<a href="#">New Cars |</a>
			</div>

			<div id="usedcar">
				<a href="#"> Used Cars |</a>
			</div>

			<div id="sellcar">
				<a href="#">Sell Cars</a>
			</div>
		</div>
	</div>

	<div id="bod">
		<div id="card" style="float: left;">
			<a href="#"><img src="C:\Users\Nitin Sharma\Desktop\DBMS\public\images\card2.png"></a>
		</div>
		<div id="card" style="float: left;">
			<a href="#"><img src="C:\Users\Nitin Sharma\Desktop\DBMS\public\images\card1.png"></a>
		</div>
		<div id="card" style="float: left;">
			<a href="#"><img src="C:\Users\Nitin Sharma\Desktop\DBMS\public\images\card3.png"></a>
		</div>
		<br style="clear: left;"/>
	</div>

</body>
</html>